body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  background-image: url(/includes/background.png);
  background-attachment: fixed;
  overflow: auto;
  color: white;
}

.navbar {
  width: 100%;
  padding: 5px 20px;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.main-content {
  background: none;
  min-height: 400px;
}
.container-content {
  flex: 1;
  padding: 40px;
  background: none;
}
.container-sidebar {
  display: flex;
  min-height: calc(100vh - 60px);
}
.sidebar {
  background-color: #121212;
  width: 220px;
  padding-top: 40px;
  box-shadow: 8px 0 0px rgba(0, 0, 0, 0.2);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px 25px;
  border-left: 4px solid transparent;
  font-size: 16px;
  cursor: pointer;
  color: #ccc;
  transition: all 0.3s ease;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background-color: #1a1a1a;
  border-left: 4px solid #045f27;
  color: #045f27;
  font-weight: 700;
}
.menu {
  display: flex;
  margin-right: 37%;
  align-items: center;
  justify-content: center;
}
.menu a {
  margin: 0 15px;
  color: #fff;
  transition: color 0.2s;
  justify-content: center;
}

.menu a:hover {
  color: #045f27;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  align-items: center;
  gap: 15px;
}

h1 {
  color: white;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.saldo {
  height: 30px;
  background: #aaaaaa48;
  display: flex;
  align-items: center;
  border: solid 2px #000000;
  border-radius: 5px;
  justify-content: center;
}

#saldo,
#unidade {
  color: white;
}

.welcome-banner {
  background: linear-gradient(135deg, #121212, #1f1f1f);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  width: 80vw;
  height: 350px;
  margin: auto;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  font-family: "Montserrat";
  gap: 10px;
}

.content-left {
  max-width: 50%;
}

.content-left h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  padding-left: 20px;
}

.content-left p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  padding-left: 20px;
}

.img-container {
  width: 450px;
  display: flex;
  height: 350px;
  justify-content: flex-end;
}

.banner-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  user-select: none;
}

.game-container {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.game-card {
  height: 130px;
  border: 2px solid white;
  border-radius: 5px;
  width: 130px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.game-card:hover,
.game-card:focus {
  transform: scale(1.6);
  outline: none;
  color: white;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
  background-color: #2a2a2a;
}

.game-button {
  border: none;
  background: none;
  padding: 0;
  user-select: none;
}

.game-img {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  user-select: none;
}

.section,
.jogos {
  text-align: center;
}

.section h2 {
  color: #fafafa;
  text-align: center;
  font-family: "Montserrat";
  margin-bottom: 30px;
}

.game-title {
  color: #fff;
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
  font-weight: 600;
  user-select: none;
}

.faq {
  margin-top: 70px;
  padding: 20px;
  text-align: center;
}

.promocoes {
  text-align: center;
  margin-top: 50px;
}

.promo-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.promo-card {
  background-color: #1f1f1f;
  border-radius: 8px;
  padding: 20px;
  width: 280px;
  transition: transform 0.3s;
  margin-bottom: 50px;
}

.promo-card:hover {
  transform: translateY(-5px);
  background-color: #2a2a2a;
}

.faq-item {
  max-width: 600px;
  margin: 20px auto;
  background: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}

footer {
  background-color: #121212;
  padding: 30px;
  text-align: center;
  color: #b3b3b3;
}

footer a {
  color: #ffcc00;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}
